.container {
  border: 1px solid lightgray;
  padding: 10px 10px 10px 70px;
}
.imgContainer {
  position: relative;
}
.contactedImg {
  width: 30px;
  position: absolute;
  left: 0px;
  top: -4px;
}
.contactedImg:hover {
  cursor: pointer;
}
.editImg {
  width: 30px;
  position: absolute;
  top: -4px;
}
.editImg:hover{
  cursor: pointer;
}
.row {
  padding: 10px 0;
  border-bottom: solid 1px lightgray;
}
.green {
  background-color: #27c5ab;
}
.yellow {
  background-color: #ffd750;
}
.red {
  background-color: #f45050;
}
